<div class="row-fluid">
	<div>
		<h1>Allergies</h1>
		<div class="span3">
		  <ul class="nav  nav-pills nav-stacked">
		    <li class="active">
		      <a href="#">1998</a> 
		    </li>
		    <li>
		      <a href="#">1996</a> 
		    </li>
		  </ul>
		</div>
		<div id="allergyList" class="span9">
			<%- partial('listAllergy', allergies) %>
		</div>
	</div>
</div>