 	<% if (!user) { %>
 	<div class="jumbotron">
      <div class="container">
        <h1>Welcome to Timeline Viewer</h1> 
		<p>Timeline Viewer is Based on Node.js</p>   
		<p>  
			<a class="btn btn-primary btn-lg" href="/timeline/login">Login</a>
		    <a class="btn btn-default btn-lg" href="/timeline/reg">Register</a> 
		</p> 
      </div>
    </div>
    <% } else if(user.xml!=null) { %>

	  <div class="row">
	    <div class="col-xs-4">
	    	<div class="header-unit">
			  <h3>Ellen Ross</h3>
			  <strong>Female,Married,Christian,Asian</strong>
			  <p> 
			  	<small class="gray">Language:</small>English</br>
			  	<small class="gray">Birthday:</small>Mar 7 1960</br>
			  	<small class="gray">Address:</small>17 Daws Road, Portland, OR 97006<br>
			  	<small class="gray">Phone:</small>415-555-1229
			  </p>
			</div>
	    </div>
	    <div class="col-xs-4">
	    	 <h3>Marta Shan</h3>
			  <strong>Sister</strong>
			  <p> 
			  	<small class="gray">Address:</small>17 Daws Road, Portland, OR 97006<br>
			  	<small class="gray">Phone:</small>415-555-1229
			  </p>
	    </div>
	    <div class="col-xs-4">
	    	<div class="header-unit">
			  <h3>Ashby Medical Center</h3>
			  <strong>Provider</strong>
			  <p> 
			  	<small class="gray">Address:</small>17 Daws Road, Portland, OR 97006<br>
			  	<small class="gray">Phone:</small>415-555-1229
			  </p>
			</div>
	    </div>
	  </div>
	  <hr>
	  <div class="row">
	  	<div class="col-xs-9">
		  	<span class="label label-info label-corner">2008</span>
	  		<div class="row  timeline">
	  			<div class="col-xs-6 right">
	  				<blockquote>Chest X Ray <small>May 7 2007</small><i class="icon-plan"></i></blockquote>

	  				<blockquote>Sputum<small>May 6 2007</small><i class="icon-plan"></i></blockquote>
	  			</div>
	  			<div class="col-xs-6 left">
	  				<blockquote>Plasma:prothrombin <small>May 7 2006</small><i class="icon-lab"></i></blockquote>

	  				<blockquote>Plasma:prothrombin <small>May 6 2006</small><i class="icon-lab"></i></blockquote>
	  			</div>
	  		</div>
	  		<hr class="dashed">
		  	<span class="label label-info label-corner">2007</span>
		  	<div class="row timeline">
	  			<div class="col-xs-6 right">
	  				<blockquote>Chest X Ray <small>May 5 2006</small><i class="icon-encounter"></i></blockquote>

	  				<blockquote>Chest X Ray <small>May 4 2006</small><i class="icon-encounter"></i></blockquote>
	  			</div>
	  			<div class="col-xs-6 left">
	  				<blockquote>Plasma:prothrombin <small>May 7 2006</small><i class="icon-problem"></i></blockquote>

	  				<blockquote>Plasma:prothrombin <small>May 6 2006</small><i class="icon-procedure"></i></blockquote>
	  				<blockquote>Plasma:prothrombin <small>May 7 2006</small><i class="icon-medication"></i></blockquote>

	  				<blockquote>Plasma:prothrombin <small>May 6 2006</small><i class="icon-problem"></i></blockquote>
	  			</div>
	  		</div>
	  		<hr class="dashed">
		  	<span class="label label-info label-corner">2006</span>
		  	<div class="row timeline">
	  			<div class="col-xs-6 right">
	  				<blockquote>Labor and delivery <small>May 5 2005</small><i class="icon-problem"></i></blockquote>

	  				<blockquote>Gall <small>May 4 2005</small><i class="icon-medication"></i></blockquote>
	  				<blockquote>Labor and delivery <small>May 5 2005</small><i class="icon-encounter"></i></blockquote>

	  				<blockquote>Gall <small>May 4 2005</small><i class="icon-medication"></i></blockquote>
	  			</div>
	  			<div class="col-xs-6 left">
	  				<blockquote>Plasma:prothrombin <small>May 7 2005</small><i class="icon-lab"></i></blockquote>

	  				<blockquote>Plasma:prothrombin <small>May 6 2005</small><i class="icon-lab"></i></blockquote>
	  			</div>
	  		</div>
	  		<hr class="dashed">
		  	<span class="label label-info label-corner">2005</span>
	  	</div>
	  	<div class="col-xs-3">
	  		<div class="row">
	  			<div class="col-xs-12">
	  				<div class="header-unit">
					  <h3><i class="icon-plan"></i> Plan of Care</h3>
					  <hr>
					  <strong>Office Consultant</strong>
					  <p class="gray">May 28, 2007</p>
					  <p> Consult with Dr.George </p>
					  <strong>Sputum Culture</strong>
					  <p class="gray">May 28, 2007</p>
					  <p>Instructions</p>
					  <strong>Chest X Ray</strong>
					  <p class="gray">May 28, 2007</p>
					  <p>Instructions</p>
					</div>
	  			</div>
	  		</div>
	  		<div class="row">
	  			<div class="col-xs-12">
	  				<div class="header-unit">
					  <h3>Allergies</h3>
					  <hr>
					  <strong>Penicillin</strong>
					  <p>
					  <small class="gray">Reaction:</small> Hive<br>
					  <small class="gray">Severity:</small>Moderate to Severe
					  </p>
					  <strong>Bee Stings</strong>
					  <p>
					  <small class="gray">Reaction:</small> Hive<br>
					  <small class="gray">Severity:</small>Moderate to Severe
					  </p>
					</div>
	  			</div>
	  		</div>
	  		<div class="row">
	  			<div class="col-xs-12">
	  				<div class="header-unit">
					  <h3>Recommendations</h3>
					  <hr>
					  <strong>Provider</strong>
					  <p> 
					  	<small class="gray">Address:</small>17 Daws Road, Portland, OR 97006<br>
					  	<small class="gray">Phone:</small>415-555-1229
					  </p>
					</div>
	  			</div>
	  		</div>
	  	</div>
	  </div>
	  <hr>
	  <footer>
		<p>© GSOC 2013</p>
	  </footer>
	  <script src="/js/jquery.js"></script>
	  <script src="/js/bootstrap.min.js"></script>
	  <script src="/js/ejs.js"></script>
	  <script src="/js/bindaas.js"></script>
	  <script>
	    showTimeline();
	  </script>
	<% } else { %> 
		<a class="btn btn-primary btn-lg" href="/timeline/upload">Upload New CCDA Document</a>
	<% } %>