<% if (!user) { %>
<div class="hero-unit">   
	<h1>Welcome to Timeline Viewer</h1> 
	<p>Timeline Viewer is Based on Node.js</p>   
	<p>     
		<a class="btn btn-primary btn-large" href="/login">Login</a>
	    <a class="btn btn-large" href="/reg">Register</a> 
	 </p> 
</div> 
<% } else { %>
<div>logged in</div>
<% } %> 

<div class="row">   
	<div class="span4">    
	  <h2>To View Your CCDA Documents</h2>    
	  <p>In a timeline based view</p>
	</div>   
	<div class="span4"> 
	   <h2>GSOC 2013</h2>
	   <p>Google Summer of Code 2013</p>
	</div> 
	<div class="span4">   
	   <h2>Emory University</h2>    
	   <p>Based on Bindaas API, Node.js</p>
	</div> 
</div>