<!-- Labs View -->
<% if (!user) { %>
<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Timeline Viewer</h1> 
	<p>Timeline Viewer is Based on Node.js</p>   
	<p>  
		<a class="btn btn-primary btn-lg" href="/timeline/login">Login</a>
	    <a class="btn btn-default btn-lg" href="/timeline/reg">Register</a> 
	</p> 
  </div>
</div>
<% } else if(user.xml!=null) { %>
	  <div class="container">
  <div class="row" id="demographics">
  </div>
  <hr>
  <div class="row" id="labs">
  </div>
  <hr>
  <footer>
	<p>© GSOC 2013</p>
  </footer>
  <script src="/timeline/js/jquery.js"></script>
  <script src="/timeline/js/ejs.js"></script>
  <script src="/timeline/js/data.js"></script>
  <script src="/timeline/js/timeline.js"></script>
  <script>
    showLabs();
    //showLabsAjax(); //if you want to use ajax
  </script>
<% } else { %> 
	<a class="btn btn-primary btn-lg" href="/upload">Upload New CCDA Document</a>
<% } %>