<!DOCTYPE html>
<!--
Copyright (C) 2013 Shaohuan Li <shaohuan.li@gmail.com>, Ashish Sharma <ashish.sharma@emory.edu>
This file is part of A Timeline Viewer of Patient Medical Records developed under the Google of Summer of Code 2013 program.

Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License.
-->
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GSOC 2013 Timeline Viewer</title>

    <!-- Bootstrap core CSS -->
    <link href="/timeline/css/bootstrap.css" rel="stylesheet">
    <link href="/timeline/css/timeline.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <link href="css/bootstrap-ie7.css" rel="stylesheet">
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  	<div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/timeline">Timeline Viewer</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <% if (!user) { %>
	           <li><a href="/timeline/login">Login</a></li>
  	        <% } else { %>
               <li><a href="/timeline/detail">Detail</a></li>
               <li><a href="/timeline/labs">Labs</a></li>
  	           <li><a href="/timeline/upload">Upload CCDA</a></li>
  	           <li><a href="/timeline/logout">Logout</a></li>
  	        <% } %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <!-- <li class="active"><a href="login.html">Login</a></li> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container">
        <% if (success && success.length ) { %>
	        <div class="alert alert-success">
			  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			  <strong>Well done!</strong><%= success %>
			</div>
		<% } %>
		<% if (error && error.length ) { %>
		    <div class="alert alert-warning">
			  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			  <strong>Warning!</strong><%= error %>
			</div>
		<% } %>
	    <%- body %>
	</div>
  </body>
</html>