<!DOCTYPE html>
<html>
￼￼<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
	<link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet">
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" href="/stylesheets/swig.css">
	<style>
	 .allergy{
	 }
	</style>
￼ </head>
  <body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				 <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </a>
			      <a class="brand" href="/">GSOC Timeline</a>
			      <div class="nav-collapse">
					 <ul class="nav">
		              <li class="active"><a href="/">Home</a></li>
		              <% if (!user) { %>
		                <li><a href="/login">Login</a></li>
		                <li><a href="/reg">Register</a></li>
		              <% } else { %>
		                <li><a href="/timeline">Timeline View</a></li>
		                <li><a href="/upload">Upload CCDA</a></li>
		                <li><a href="/logout">Logout</a></li>
		              <% } %>
		            </ul>
			    </div>
		 	</div>
		</div>
	</div>
	<div id="container" class="container">
		<% if (success && success.length ) { %>
		    <div class="alert alert-success">
		        <a class="close" data-dismiss="alert" href="#">×</a>
		        <strong><%= success %></strong>
		    </div>
		<% } %>
		<% if (error && error.length ) { %>
		    <div class="alert alert-error">
		        <a class="close" data-dismiss="alert" href="#">×</a>
		        <strong><%= error %></strong>
		    </div>
		<% } %>
	    <%- body %>
	    <hr />
	    <footer><p><a href="" target="_blank">Shao</a> 2013</p> </footer>
	</div>
	<div id="detailPanel">
		<a id="close">Close</a>
		<iframe id="detail" href=""></iframe>
	</div>
  </body>
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  <script src="/javascripts/jquery.scrollTo.min.js"></script>
  <script src="/javascripts/jquery.localscroll.min.js"></script>
  <script src="/javascripts/master.js"></script>
</html>