<div class="well">
	<span class="badge"><%= formatDate(listEncounter.date)%></span>
	<h3><%= listEncounter.name%></h3>
	<p><%= listEncounter.code%></p>
	<p><%= listEncounter.code_system_name%></p>
</div>