 	<% if (!user) { %>
 	<div class="hero-unit">  
	<h1>Welcome to Timeline Viewer</h1> 
	<p>Timeline Viewer is Based on Node.js</p>   
	<p>  
		<a class="btn btn-primary btn-large" href="/login">Login</a>
	    <a class="btn btn-large" href="/reg">Register</a> 
	</p> 
	</div> 
    <% } else if(user.xml!=null) { %>
    <div class="row-fluid">
		 <div class="span3">
			<nav>
			  <ol class="sidenav fixed" id="nav">
			   </ol>
			</nav>
		</div>
		<div class="span9">
			<div id="timeline">
			</div>
		</div>
	</div>
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  <script src="/javascripts/jquery.scrollTo.min.js"></script>
  <script src="/javascripts/jquery.localscroll.min.js"></script>
  <script src="/javascripts/master.js"></script>
  <script src="/javascripts/bindaas.js"></script>
	<script type="text/javascript">showTimeline();</script>
	<% } else { %> 
		<a class="btn btn-primary btn-large" href="/upload">Upload New CCDA Document</a>
	<% } %>