<div id="demographics">
<a href="/user/<%= uid %>/demographics">Demographics</a>
Demographics goes here
</div>
<div id="allergies">
<a href="/user/<%= uid %>/allergies">Allergies</a>
Allergies goes here
</div>
<div id="immunizations">
<a href="/user/<%= uid %>/immunizations">Immunizations</a>
Immunizations go here
</div>
<div id="medications">
<a href="/user/<%= uid %>/medications">Medications</a>
Medications go here
</div>