<% for (i=0;i<immunizations.length;i++){%>
<div class="well">
<span class="badge">
<%= formatDate(immunizations[i].date)%>
</span>
<h3>
<%= immunizations[i].product.name %>
</h3>
  <p>Name:<%= immunizations[i].product.name %></p>
  <p>Code System Name:<%= immunizations[i].product.code_system_name %></p>
  <p><a onclick="showDetail('http://www2a.cdc.gov/vaccines/iis/iisstandards/vaccines.asp?rpt=cvx')">References</a></p>
</div>
<% }%>