<% for (i=0;i<procedures.length;i++) {%>
<div class="well">
	<span class="badge"><%= formatDate(procedures[i].date)%></span>
	<h3><%= procedures[i].code %></h3>
	<p><%= procedures[i].name %></p>
</div>
<% } %>