body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.family{
	font-style:bold;
}
#detailPanel{
	width:100%;
	height:100%;
	top:0;
	left:0;
	position: fixed;
	background-color: gray;
	z-index: 10000;
}
#close{
	right:0px;
	top:0;
	position: fixed;
	width:100px;
	height: 50px;
	text-align: center;
	background-color: white;
	z-index:10000;
}
#detail{
	width:80%;
	height:80%;
	position: fixed;
	background-color: white;
	left:10%;
	top:10%;
}