.sidenav
{
	list-style: none;
}
.sidenav.fixed
{
	position: fixed;
	top: 50px;
}
.sidenav ol
{
	border-left: 3px solid #bcc7cc;
	height: 0;
	margin: 0 0 0 5px;
	moz-transition: height .25s;
	ms-transition: height .25s;
	o-transition: height .25s;
	overflow: hidden;
	padding: 0 0 0 5px;
	transition: height .25s;
	webkit-transition: height .25s;
}
.sidenav li.current>a
{
	background: #bcc7cc;
}
.sidenav li.current a.current
{
	background: #366280;
	color: #FFF;
}
.sidenav li.current ol
{
	height: auto;
	overflow: visible;
}